@import '../../assests/scss/global.scss';

.table-container {
  overflow: scroll;
  width: 100%;

  .filter-container {
    margin-bottom: 10px;
    width: 200px;

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
      outline: none;
      background: #a80a0a;
      border-radius: 28px;
      padding: 20px 20px;
      color: #fff;
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      width: 100%;

      option {
        background-color: #fff;
        color: #000;
        text-align: left;
      }
    }
  }

  thead {
    tr {
      text-align: left;
      border-bottom: 1px solid rgb(204, 204, 204);

      th {
        border-right: 1px solid rgb(204, 204, 204);
        padding: 20px;

        font-style: normal;
        text-align: left;
        color: #979797;
        
        font-size: 30px;
        @include popins-medium;
        width: 10%;

        &:last-child {
          border-right: none;
        }
      }
    }
  }

  tbody {
    tr {
      text-align: left;

      td {
        border-right: 1px solid rgb(204, 204, 204);
        padding: 20px;

        font-style: normal;
        text-align: left;
        color: #333333;

        @include popins-medium;
        font-size: 22px;

        &:last-child {
          border-right: none;
        }
      }

      .action-cell {
        display: flex;
        gap: 12px;
      }
    }
  }
}