$primary-color: #0070c0;
$primary-btn-color: #b3200d;
$secondary-btn-color: #0275be;
$text-color: #555;
$bg-color: #57c6bf;
$card-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
$header-bg-image: url('https://t3.ftcdn.net/jpg/02/90/89/76/360_F_290897614_7RdAsk2GmumcGWZ2qklmV74hKlNmznSx.jpg');


.mock-jossa-form-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0px;
    margin: 4rem 0px;
    padding: 0px;

    .mock-jossa-form-header-container {
        margin-bottom: 40px;

        .main-header-container {
            background-image: $header-bg-image;
            background-size: cover;
            background-position: center;
            padding: 40px;
            text-align: center;
            color: white;
            display: flex;
            flex-direction: column;
            gap: 22px;
        }

        h1 {
            font-size: 32px;
            font-weight: bold;
            margin-top: 10px;
        }

        p {
            font-size: 16px;
            color: $text-color;
            text-align: left;
            margin: 3rem 3rem 3rem 3rem;
        }
    }

    .jossa-help-tabel-title-container {


        .mock-jossa-form-btn-group {

            .btn-group {
                .left-side-btn {
                  
                    .exam-type-toggle-btn {

                      
                    }
                }

                .right-side-btns {
                    display: flex;
                    gap: 18px;

                    .add-institute-btn{
                        border: none;
                        border: 1px solid $primary-btn-color;
                        background-color: $primary-btn-color;
                        color: #fff;
                        border-radius: 2rem;
                        padding: 0rem 2rem;

                        &:hover{
                            color: $primary-btn-color;
                            background-color: #fff;
                        }
                    }

                    .save-export-btn{
                        border: none;
                        border: 1px solid $secondary-btn-color;
                        background-color: $secondary-btn-color;
                        color: #fff;
                        border-radius: 2rem;
                        padding: 0rem 2rem;

                        &:hover{
                            color: $secondary-btn-color;
                            background-color: #fff;
                        }
                    }
                }
            }

        }

        .jossa-help-tabel-container {}
    }
}

.action-btns{
    border:none;
    display: flex;
    gap: 5px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
} 
.remove-btn{
    background: #b3200d;
    color: #fff;
    &:hover{
        color: #b3200d;
        background: #fff;
    }
}

.up-btn{
    background: #53a24c;
    color: #fff;
    &:hover{
        background: #fff;
        color: #53a24c;
    }
}

.down-btn{
    background: #ffc831;
    color: #fff;

    &:hover{
        background: #fff;
        color: #ffc831;
    }
}