$primary-color: #0070c0;
$primary-btn-color: #b3200d;
$secondary-btn-color: #0275be;
$text-color: #555;
$bg-color: #57c6bf;
$card-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
$header-bg-image: url('https://t3.ftcdn.net/jpg/02/90/89/76/360_F_290897614_7RdAsk2GmumcGWZ2qklmV74hKlNmznSx.jpg');

@import '../../assests/scss/global.scss';

.mock-jossa-form-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0px;
    margin: 4rem 0px;
    padding: 0px;

    .mock-jossa-form-header-container {
        margin-bottom: 40px;

        .main-header-container {
            background-image: $header-bg-image;
            background-size: cover;
            background-position: center;
            padding: 40px;
            text-align: center;
            color: white;
            display: flex;
            flex-direction: column;
            gap: 22px;
        }

        .title-text {

            margin-top: 10px;

            @include popins-regular;
            font-size: 50px;
        }

        .title-desc {
            @include popins-regular;
            font-size: 28px;
        }

        .share-svg {
            right: 0px;
            width: 26%;
            height: 63%;
            opacity: 0.3;
            top: 0px;

        }
    }

    .jossa-help-tabel-title-container {


        .mock-jossa-form-btn-group {

            .btn-group {
                .left-side-btn {

                    .exam-type-toggle-btn {}
                }

                .right-side-btns {
                    display: flex;
                    gap: 18px;

                    .add-institute-btn {
                        border: none;
                        padding: 0rem 2rem;
                        font-style: normal;
                        text-align: left;
                        color: #ffffff;

                        border-radius: 42px;

                        font-size: 18px;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-weight: 600;
                        background: #B3200D;

                        &:hover {
                            color: $primary-btn-color;
                            background-color: #fff;
                            border: 1px solid #b3200d;
                        }
                    }

                    .save-export-btn {
                        border: none;
                        border: 1px solid #0275BE;
                        padding: 0rem 2rem;
                        border-radius: 42px;
                        background: #0275BE;
                        font-style: normal;
                        text-align: left;
                        color: #ffffff;

                        font-size: 18px;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-weight: 600;

                        &:hover {
                            color: #0275be;
                            background-color: #fff;
                        }
                    }
                }
            }

        }

        .jossa-help-tabel-container {}
    }
}

.action-btns {
    border: none;
    display: flex;
    gap: 5px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;

    font-family: "Poppins";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #ffffff;
    padding: 8px;

}

.remove-btn {
    background: #B3200D;
    border: 1px solid #B3200D;
    color: #fff;

    &:hover {
        border: 1px solid #B3200D;
        color: #B3200D;
        background: #fff;
    }
}

.up-btn {
    border: 1px solid #53A24C;
    background: #53A24C;
    color: #fff;

    &:hover {
        border: 1px solid #53A24C;
        background: #fff;
        color: #53A24C;
    }
}

.down-btn {
    border: 1px solid #FFC831;
    background: #FFC831;
    color: #fff;

    &:hover {
        border: 1px solid #FFC831;
        background: #fff;
        color: #FFC831;
    }
}