@import '../../assests//scss/global.scss';

.information-container {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    margin: 4rem 0rem;

    .introduction-container {

        .introduction-title-text {
            color: $main-header-color;
            @include header-style;
        }

        .introduction-title-desc {
            @include sub-header-style;
        }
    }

    .title-text {
        font-style: normal;
        text-align: left;
        color: #333333;

        font-size: 50px;
        @include popins-medium;
    }

    .title-desc {
        font-style: normal;
        text-align: left;
        color: #333333;

        font-size: 28px;
        @include popins-regular
    }

    .divider-row{
        border-bottom: 1px solid #CCCCCC;
        padding-bottom: 3rem;
    }

    .list-desc{
        @include popins-regular;
        font-size: 18px;
    }

    .event-subtitle{
        @include poppins-light
    }

    .admitting-institutes-container {

        .toggle-icon {
            border-radius: 20px;
            border: 1px solid #ccc;
            padding: 10px 20px;

            .active-grid {
                svg {
                    path {
                        fill: blue;
                    }
                }
            }
        }
    }

    .share-svg {
        width: 26%;
        height: 63%;
        opacity: 0.3;
        left: 0%;
        top: 20%;

        @media(min-width: 992px) {
            left: auto;
            right: 0px;
            top: 0px;
        }
    }

}