.material-input {
  position: relative;
  margin-top: 1.5rem;
  width: 100%;

  input {
    width: 100%;
    padding: 8px 20px;
    font-size: 1rem;
    border: none;
    border: 1px solid #afafaf;
    border-color: #afafaf;
    outline: none;
    transition: border-color 0.3s;
    border-radius: 8px;
    background: #ffffff;

    &:focus {
      box-shadow: none !important;
      border: 1px solid #afafaf !important;
    }

    &:hover {
      box-shadow: none !important;

    }

    &.is-invalid {
      box-shadow: none !important;

    }


    &::placeholder {
      color: transparent;
    }


  }

  .input-group-text {
    border: none;
    background: #fff;
    position: absolute;
    top: 6px;
    right: 3px;
  }

  label {
    position: absolute;
    top: 8px;
    left: 1rem;
    transition: all 0.3s ease;
    pointer-events: none;
    background-color: white; 
    padding: 0 4px;

    font-family: "Poppins";
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #000000;
  }

  &.focused label {
    transform: translateY(-1.0rem);
    font-size: 0.8rem;
  }


}

.form-control:focus {
  border: none !important;
  outline: none !important;
  background-color: inherit !important;
  color: inherit !important;
}