.main-container {
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 10rem;

    @media (min-width: 768px) {
        max-width: 800px;
    }

    @media (min-width: 992px) {
        max-width: 1070px;
    }

    @media (min-width: 1200px) {
        max-width: 1200;
    }

    @media (min-width: 1400px) {
        max-width: 1400px;
    }

    @media (min-width: 1441px) {
        min-width: 1440px;
    }
}