@import '../../assests/scss/global.scss';

.exams-2024 {
    padding: 3rem 15rem !important;
    h2 {

        font-style: normal;
        text-align: left;
        color: #000000;

        @include popins-semibold;
        font-size: 44px;
    }
    p {
        font-style: normal;
        text-align: left;
        color: #838383;

        @include popins-regular;
        font-size: 24px;
    }

    .rank-section {
        margin: 20px 0;

        label {
            font-family: "Poppins";
            font-size: 24px;
            font-weight: 500;
            font-style: normal;
            text-align: left;
            color: #333333;
        }

        .info-text {
           
            font-style: normal;
            text-align: left;
            color: #EA1F1F;

            @include popins-regular;
            font-size: 14px;
        }

        .exam-details-input-field-wrapper {
            gap: 3rem;
        }

        .exam-detail-input-field {
            width: 80%;
        }

        .modifications-info {
            color: #11AA00;
            margin: 5px 0;

            @include popins-regular;
            font-size: 14px;
        }

        .error-message {
            color: red;
            font-size: 12px;
            margin-top: 5px;
        }

        .rank-submit-btn {
            margin-top: 1.25rem;
            width: 100px;

            border-color: #0275BE;
            border-radius: 42px;
            background: #0275BE;
            
            font-style: normal;
            text-align: left;
            color: #ffffff;
            
            font-size: 18px;
            @include segoe-ui-semibold;
            text-align: center;


            &:disabled {
                background-color: #ccc;
                border-color: #ccc;
            }
        }
    }
}