.exams-2024 {
    padding: 3rem 15rem !important;

    h2 {

        font-family: "Poppins";
        font-size: 44px;
        font-weight: normal;
        font-style: normal;
        text-align: left;
        color: #000000;
    }

    p {
        font-family: "Poppins";
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        text-align: left;
        color: #838383;
    }

    .rank-section {
        margin: 20px 0;

        label {
            font-family: "Poppins";
            font-size: 24px;
            font-weight: 500;
            font-style: normal;
            text-align: left;
            color: #333333;
        }

        .info-text {
            font-family: "Poppins";
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            text-align: left;
            color: #ea1f1f;
        }

        .exam-details-input-field-wrapper {
            gap: 3rem;
        }

        .exam-detail-input-field {
            width: 80%;
        }

        .modifications-info {
            font-size: 12px;
            color: green;
            margin: 5px 0;
        }

        .error-message {
            color: red;
            font-size: 12px;
            margin-top: 5px;
        }

        .rank-submit-btn {
            margin-top: 1.25rem;
            width: 100px;

            border-color: #007bff;

            border-radius: 42px;
            background: #0275be;

            font-family: "Segoe UI";
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            text-align: left;
            color: #ffffff;


            &:disabled {
                background-color: #ccc;
                border-color: #ccc;
            }
        }
    }
}