.navbar-container {
    background-color: #0275BE;
}

.nav-link {
    color: #fff !important;
    position: relative;
    padding-bottom: 5px;
    cursor: pointer;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 24px !important;

    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}

.nav-link.active {
    border-bottom: 3px solid #fff;
    font-weight: 600 !important;
}

.navbar-nav {
    gap: 8px;
    font-family: "Segoe UI";
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #ffffff;
    flex-direction: column !important;
    width: 100%;

    @media(min-width: 992px) {
        gap: 64px;
        flex-direction: row !important;
        align-items: center;
        justify-content: center;
    }
}

.dropdown-item {
    border-bottom: 1px solid #ccc;
    padding: 0.7rem 0.3rem 0.7rem 1rem !important;
    color: #000;
    display: flex !important;
    justify-content: space-between !important;
    gap: 4rem !important;
    border-bottom: 2px solid #ccc !important;
    border-radius: 10px 10px 0px 0px !important;
    cursor: pointer;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 20px !important;

    svg {
        width: 24px;
        height: 24px;
    }

    &:active {
        border-radius: 0px !important;
        font-weight: 600 !important;
    }
}

.active {
    opacity: 1;
    color: #fff;
    border-bottom: 3px solid #fff;
    border-radius: 0px !important;
    font-weight: 600 !important;
    background-color: #0275BE !important;
}

.dropdown-menu {
    padding: 0px !important;

}