.home-section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 4rem 0rem;

    .announcement-banner {
        /* background-color: #f8f9fa; */
        padding: 1.5rem 1rem 1rem 1rem;
        border: 1px solid #ddd;
        position: relative;
        border: 1px solid #ccc;
        box-shadow: 10px 10px 4px 0px #ccc;

        .announcement-label {
            background-color: #d9534f;
            padding: 0.2rem 0.5rem;
            position: absolute;
            top: 20px;
            left: -10px;

            font-family: "Poppins";
            font-size: 26px;
            font-weight: normal;
            font-style: normal;
            text-align: left;
            color: #ffffff;
        }

        .announcement-text {
            margin-top: 2.5rem;
            font-family: "Poppins";
            font-size: 28px;
            font-weight: 500;
            font-style: normal;
            text-align: left;
            color: #333333;
        }
    }

    .welcome-section {

        h2 {
            font-family: "Poppins";
            font-size: 48px;
            font-weight: normal;
            font-style: normal;
            text-align: left;
            color: #0275be;
            margin: -2rem 0rem 1rem 0rem;
        }

        .welcome-text {
            font-family: "Poppins";
            font-size: 22px;
            font-weight: normal;
            font-style: normal;
            text-align: left;
            color: #000000;
        }

        .know-more-btn {
            border: none;
            padding: 0.5rem 1.5rem;
            transition: background-color 0.3s;
            border-radius: 12px;
            filter: drop-shadow(8px 8px 7.5px rgba(0, 0, 0, 0.16));
            background: #b3200d;
            font-family: "Poppins";
            font-size: 28px;
            font-weight: normal;
            font-style: normal;
            text-align: center;
            color: #ffffff;
            width: 100%;

            &:hover {
                background-color: #c9302c;
            }
        }

        .welcome-image {
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            height: 100%;
            margin-top: -20px;
            margin-left: 73px;
            width: 90%;
        }
    }

    .section-title {
        margin-bottom: 1rem;
        font-family: "Poppins";
        font-size: 44px;
        font-weight: normal;
        font-style: normal;
        text-align: left;
        color: #0275be;
    }

    .news-events-section {
        padding: 2rem 0;
        display: flex;
        flex-direction: row;


        .news-cards {
            display: flex;
            gap: 1.5rem;

            .news-card {
                background-color: #ffffff;
                background: #fafafa;
                border-radius: 24px;
                padding: 1.5rem;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                transition: transform 0.2s;
                flex-wrap: nowrap;

                .news-card-header {
                    border-bottom: 1px solid #ccc;
                    margin-bottom: 1rem;

                    h4 {
                        font-family: "Poppins";
                        font-size: 28px;
                        font-weight: 500;
                        font-style: normal;
                        text-align: left;
                        color: #333333;
                    }

                    .right-chevron {
                        border-radius: 60%;
                        height: 27px;
                        width: 27px;
                        text-align: center;
                        background: rgba(2, 117, 190, 0.5);

                        &:hover {
                            background-color: #0d6efd;

                            svg {
                                path {
                                    fill: #fff
                                }
                            }
                        }
                    }
                }

                .news-card-content {
                    h4 {
                        font-size: 1.25rem;
                        color: #333;
                        font-weight: bold;
                        margin-bottom: 0.5rem;
                    }

                    p {
                        color: #555;
                        font-size: 0.95rem;
                        margin-bottom: 1rem;
                    }

                    .read-more {
                        text-decoration: none;
                        float: right;
                        font-family: "Poppins";
                        font-size: 18px;
                        font-weight: normal;
                        font-style: normal;
                        text-align: left;
                        color: #b3200d;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }


    }

    .divider {
        position: relative;
        width: 80%;
        margin: 4rem auto;
        border-bottom: 4px solid #cccccc;

        span {
            position: absolute;
            top: -25px;
            left: 48%;
            background: white;
            padding: 0px 10px;
            width: 14%;
            font-family: "Poppins";
            font-size: 32px;
            font-weight: 300;
            font-style: normal;
            text-align: left;
            color: #cccccc;
        }
    }
}