@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import '../../assests/scss/global.scss';

.home-section {

    display: flex;
    gap: 3rem;
    flex-direction: column;
    margin: 4rem 0rem;

    padding: 0rem 2rem !important;

    @media(min-width: 992px) {
        padding: 0px
    }

    .home-wrapper {
        display: flex;
        gap: 4rem;
    }

    .announcement-banner {
        padding: 1.5rem 1rem 1rem 1rem;
        border: 1px solid #ddd;
        position: relative;
        border: 1px solid #ccc;
        box-shadow: 10px 10px 4px 0px #ccc;

        .announcement-label {
            background-color: $red-color;
            padding: 0.3rem 0.9rem;
            position: absolute;
            top: 20px;
            left: -10px;

            font-size: 22px;
            font-style: normal;
            text-align: left;
            color: #ffffff;

            @include popins-semibold;
        }

        .announcement-text {
            @include popins-regular;

            margin-top: 2.5rem;
            font-size: 20px;
            text-align: left;
            color: #333333;
        }
    }

    .welcome-section {

        h2 {
            @include popins-semibold;
            font-size: 34px;

            font-style: normal;
            text-align: left;
            color: #0275BE;
            margin: -2rem 0rem 1rem 0rem;
        }

        .welcome-text {
            font-family: "Poppins";
            font-weight: normal;
            font-style: normal;
            text-align: left;
            color: #000000;

            @include popins-regular;
            font-size: 22px;
        }

        .know-more-btn {
            border: none;
            padding: 0.5rem 1.5rem;
            transition: background-color 0.3s;
            border-radius: 12px;
            filter: drop-shadow(8px 8px 7.5px rgba(0, 0, 0, 0.16));
            background: #B3200D;
        
            font-style: normal;
            text-align: center;
            color: #ffffff;
            width: 100%;

            @include popins-regular;
            font-size: 24px;


            &:hover {
                background-color: #c9302c;
            }
        }

        .welcome-image {
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            height: 100%;
            // margin-top: 2rem;
            margin-left: 0px;
            width: 100%;
            object-fit: fill;

            @media(min-width: 992px) {
                margin-top: -20px;
                margin-left: 73px;
                width: 90%;
            }
        }
    }

    .section-title {
        margin-bottom: 1rem;
        font-size: 34px;
        font-style: normal;
        text-align: left;
        color: #0275be;

        @include popins-semibold;
    }

    .news-events-section {
        padding: 2rem 0;
        display: flex;
        flex-direction: row;


        .news-cards {
            display: flex;
            gap: 1.5rem;

            .news-card {
                background-color: #ffffff;
                background: #fafafa;
                border-radius: 24px;
                padding: 1.5rem;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                transition: transform 0.2s;
                flex-wrap: nowrap;

                .news-card-header {
                    border-bottom: 1px solid #ccc;
                    margin-bottom: 1rem;

                    h4 {
                        @include popins-medium;
                        font-size: 24px;

                        font-style: normal;
                        text-align: left;
                        color: #333333;
                    }

                    .right-chevron {
                        border-radius: 60%;
                        height: 27px;
                        width: 27px;
                        text-align: center;
                        background: rgba(2, 117, 190, 0.5);
                        color: #0275BE;

                        &:hover {
                            background-color: #0d6efd;

                            svg {
                                path {
                                    fill: #fff
                                }
                            }
                        }
                    }
                }

                .news-card-content {

                    li{
                        @include popins-regular;
                        font-size: 20px;

                        &:hover{
                            color: #0275BE;
                            cursor: pointer;
                        }
                    }

                    h4 {
                        font-size: 1.25rem;
                        color: #333;
                        font-weight: bold;
                        margin-bottom: 0.5rem;
                    }

                    p {
                        color: #555;
                        margin-bottom: 1rem;

                        @include poppins-light;
                        font-size: 20px;
                    }

                    .read-more {
                        text-decoration: none;
                        float: right;
                        
                        font-style: normal;
                        text-align: left;
                        color: #B3200D;
                        
                        font-size: 24px;
                        @include popins-semibold;

                        &:hover {
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .jossa-help-flow-img {
            // margin-top: 4rem;

            @media(min-width: 992px) {
                margin-top: 0px
            }
        }


    }

    .divider {
        position: relative;
        width: 90%;
        margin: 4rem auto;
        border-bottom: 2px solid #cccccc;

        span {
            position: absolute;
            top: -25px;
            left: 48%;
            background: white;
            padding: 0px 10px;
            width: 14%;
            font-style: normal;
            text-align: left;
            
            @include poppins-light;
            font-size: 32px;
            color: #cccccc; 
        }
    }
}

.modal-news{
    padding: 1.5rem;

    li{
        @include popins-regular;
        font-size: 20px;

        &:hover{
            color: #0275BE;
            cursor: pointer;
        }
    }
}