/* Modal.css */
@import '../../assests/scss/global.scss';


.modal-backdrop {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // z-index: 1000;
    // background-color: rgba(0, 0, 0, 0.54) !important;
}

.modal-container {
    background: white;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    // opacity: 100 !important;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main-title {
        color: $main-header-color;
        @include header-style;
    }

    .sub-title {
        @include sub-header-style;
    }
}

.modal-close {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;

    width: 30px;
    height: 25px;

    svg {
        path {
            fill: #dd0000
        }
    }
}

.modal-body {
    margin-top: 15px;
}