.material-select-dropdown {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: -0.3rem;

    label {
        font-size: 0.85rem;
        color: #666;
        margin-bottom: 0.3rem;
        display: block;
        position: relative;
        top: 15px;
        left: 1rem;
        background: white;
        width: fit-content;
        padding: 0px 5px;
        border-radius: 12px;
    
    }

    select {
        padding: 10px;
        font-size: 1rem;
        outline: none;
        transition: border-color 0.3s ease;

        border-color: #afafaf;
        border-width: 1px;
        border-style: solid;
        border-radius: 8px;
        background: #ffffff;

        &:focus {
            border-color: #afafaf;
        }
    }
}

.material-select-dropdown select:focus{
    border-color: #afafaf;
}