$primary-color: #3498db;
$main-header-color: #343537;

$red-color: #B3200D;
$blue-color: #0275be;

$table-header-color: #a5a6a8;


@mixin header-style {
    font-family: "Poppins";
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #0275be;

}

@mixin sub-header-style {
    font-family: "Poppins";
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #000000;
}

@mixin popins-medium {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

@mixin popins-semibold {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

@mixin popins-regular {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

@mixin segoe-ui-semibold {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

@mixin poppins-light {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}