$primary-color: #3498db;
$main-header-color: #343537;

$red-color: #b3200d;
$blue-color: #0275be;

$table-header-color: #a5a6a8;


@mixin header-style {
    font-family: "Poppins";
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #0275be;

}

@mixin sub-header-style {
    font-family: "Poppins";
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #000000;
}