@import '../../assests/scss/global.scss';

.footer-container {
    background-color: $blue-color;
    overflow: hidden;

    .footer-row-one {
        padding: 20px 35px;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);

        .logo-wrapper {

            .footer-logo {
                width: 225px;
                background: white;
                padding: 10px;
            }

            img {
                height: 100%;
            }
        }

        .footer-text {
            gap: 12px;
            margin: 1rem 0;
            font-style: normal;
            text-align: left;
            color: #fafafa;

            font-size: 22px;
            @include poppins-light;
        }
    }

    .footer-row-two {
        padding: 20px 35px;

        .cc-text {
            font-style: normal;
            text-align: left;
            color: #fafafa;
            
            font-size: 18px;
            @include poppins-light
        }

    }
}