@import '../../assests/scss/global.scss';

.landing-page-container {
    margin: 3rem auto !important;
    gap: 24px;

    .college-recommendation-wrapper {
        gap: 24px;

        .title-text {
            word-wrap: break-word;
            @include popins-semibold;
            font-size: 34px;
        }

        .title-desc {
            @include popins-regular;
            font-size: 22px;
        }

        .college-recommendation-title-text {
            color: var(--Black-Darker, #000);
            font-weight: 700;

        }

        .important-text {
           
            font-weight: 700;
        }

        .college-reco-para {}

        .college-reco-tool-title {}

        .college-reco-tool-list-container {
            margin-left: 2.5rem;

            .tool-list {
                word-wrap: break-word;



                .tool-list-title {}
            }

        }
    }


    .year-container {

        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 32px;
        justify-content: space-between;

        @media(min-width: 992px) {
            width: 100%;
            flex-direction: row;
            gap: 0px;
        }

        .year-selection {
            display: flex;
            padding: var(--Spacing-space-3, 4px) var(--Spacing-space-7, 12px);
            align-items: center;
            gap: 5px;
            border: 3px solid #0275be;
            background: #FFF;
            width: auto;
            color: #288fb4;
            border-radius: 42px;

            font-style: normal;
            text-align: left;
            color: #0275be;

            @include segoe-ui-semibold;

            &:hover {
                background: #288fb4;
                color: #fff;
                cursor: pointer;
            }
        }

        .filter-btn {}
    }

    .filter-container {
        text-align: right;

        width: 100%;

        @media(min-width: 992px) {
            width: 20%;
        }
    }

    .container {
        overflow: scroll;
    }

}