$primary-color: #57c6bf;
$secondary-color: #666;
$text-color: #555;
$bg-color: #57c6bf;
$card-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
$header-bg-image: url('../../assests/images/JosaaForm1.png');
@import '../../assests/scss/global.scss';

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes shrink {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.95);
    }
}

.jossa-help {
    overflow: scroll;
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0px;
    margin-bottom: 4rem;
    padding: 0px;

    .header {
        margin-bottom: 40px;
        color: white;

        .main-header-container {
            background-image: $header-bg-image;
            background-size: cover;
            background-position: center;
            padding: 40px;
            text-align: center;
            color: white;
            display: flex;
            flex-direction: column;
            gap: 22px;
        }

        h2 {
            font-style: normal;
            color: #ffffff;

            font-size: 50px;
            @include popins-regular
        }

        h1 {
            font-style: normal;
            text-align: center;
            color: #ffffff;

            font-size: 55px;
            @include popins-medium;
        }

        p {
            margin: 3rem 3rem 3rem 3rem;
            font-style: normal;
            text-align: left;
            color: #333333;

            @include popins-regular;
        }

        .top-left {
            opacity: 0.7;
        }

        .bottom-right-svg {
            top: auto;
            bottom: 5%;
            right: 10%;
            opacity: 0.7;
        }

    }

    .divider {
        border-top: 1px solid #ddd;
        margin: 40px 0;
    }

    .why-choose-us {
        margin-top: 40px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 22px;
        padding: 0px 2rem;

        @media(min-width: 992px) {
            padding: 0px
        }

        h3 {

            font-style: normal;
            color: #333333;

            font-size: 40px;
            @include popins-medium;
        }

        .help-card-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .help-card {
                background-color: $bg-color;
                border-radius: 24px;
                max-width: 650px;
                box-shadow: $card-shadow;
                border: 1px solid #a1a0a0;
                // transform: translateX(100%);
                // animation: slideInRight 0.5s ease forwards;

                &.slide-in {
                    // animation: slideInRight 0.5s ease forwards;
                }

                // &.shrink {
                //     top: -22px;
                //     zoom: 0.9;
                //     background: #a4efea;
                //     margin-top: -15px;
                //     // animation: shrink 0.3s ease forwards;
                // }

                .help-card-header {
                    padding: 20px;

                    h4 {
                        font-style: normal;
                        color: #ffffff;

                        font-size: 40px;
                        @include popins-medium;
                    }
                }

                .help-card-body {
                    p {
                        padding: 0px 2rem;
                        border-radius: 24px;

                        font-style: normal;
                        text-align: center;
                        color: #fafafa;

                        font-size: 24px;
                        @include popins-regular;
                    }

                    .help-card-image {
                        margin-top: 15px;
                        width: 100%;
                        height: 260px;
                        border-radius: 0px 0px 24px 24px;
                    }

                    img {
                        margin-top: 15px;
                        width: 100%;
                        height: 300px;
                        border-radius: 0px 0px 24px 24px;
                    }
                }
            }
        }
    }
}

.help-card-container {
    position: relative;
    margin-top: 50px;
    height: 750px;

    .help-card {
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(100px); // Initial position (below view)
        opacity: 0;
        transition: all 0.8s ease;
        border: 1px solid #ddd;
        background: #fff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;

        background-color: $bg-color;
        border-radius: 24px;
        max-width: 650px;
        box-shadow: $card-shadow;
        border: 1px solid #a1a0a0;

        &.show {
            transform: translateX(-50%) translateY(0); // Final position
            opacity: 1;
        }

        &+.help-card {
            top: 20px; // Adjust to create the overlap
        }
    }

    .shrink {
        opacity: 0.6;
        zoom: 0.9;
        background-color: #57c6bf;
    }

    .card1-design {
        top: 0px;
    }

    .card2-design {
        top: 20px;
    }

    .card3-design {
        top: 20px;
    }

    .card4-design {
        top: 20px;
    }
}

.why-choose-us-steps {
    display: flex;
    align-items: center;
    flex-direction: column;

    h3 {

        font-style: normal;
        color: #333333;

        font-size: 40px;
        @include popins-medium;
    }

    .choose-us-body {

        max-width: 58% !important;
        margin-left: 8rem;
        gap: 5rem;

        .steps-wrapper {
            width: 40%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .steps-title {
                color: #0275BE;
                font-size: 60px;
                @include popins-medium
            }

            .steps-subtitle {
                font-size: 27px;
                @include popins-regular
            }

            .steps-para {
                text-align: center;
                font-size: 12px;
                @include popins-regular
            }
        }
    }
}

.Illustration-container {
    align-items: center;
    justify-content: center;
    gap: 6rem;

    .get-ready-title-text {
        font-size: 38px;
        @include popins-medium
    }

    .get-ready-body-text {
        font-size: 17px;
        color: #333333;
        @include popins-regular
    }
}