$primary-color: #57c6bf;
$secondary-color: #666;
$text-color: #555;
$bg-color: #57c6bf;
$card-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
$header-bg-image: url('../../assests/images/JosaaForm1.png');

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes shrink {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.95);
    }
}

.jossa-help {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0px;
    margin-bottom: 4rem;
    padding: 0px;

    .header {
        margin-bottom: 40px;
        color: white;

        .main-header-container {
            background-image: $header-bg-image;
            background-size: cover;
            background-position: center;
            padding: 40px;
            text-align: center;
            color: white;
            display: flex;
            flex-direction: column;
            gap: 22px;
        }

        h2 {
            font-family: "Poppins";
            font-size: 50px;
            font-weight: normal;
            font-style: normal;
            color: #ffffff;
        }

        h1 {
            font-family: "Poppins";
            font-size: 55px;
            font-weight: 500;
            font-style: normal;
            text-align: center;
            color: #ffffff;
        }

        p {
            margin: 3rem 3rem 3rem 3rem;

            font-family: "Poppins";
            font-size: 28px;
            font-weight: normal;
            font-style: normal;
            text-align: left;
            color: #333333;
        }

        .top-left{
            opacity: 0.7;
        }

        .bottom-right-svg{
            top: auto;
            bottom: 5%;
            right: 10%;
            opacity: 0.7;
        }

    }

    .divider {
        border-top: 1px solid #ddd;
        margin: 40px 0;
    }

    .why-choose-us {
        margin-top: 40px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 22px;
        padding: 0px 2rem;

        @media(min-width: 992px){
            padding: 0px
        }

        h3 {
            font-family: "Poppins";
            font-size: 40px;
            font-weight: 500;
            font-style: normal;
            color: #333333;
        }

        .help-card-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .help-card {
                background-color: $bg-color;
                border-radius: 24px;
                max-width: 650px;
                box-shadow: $card-shadow;
                border: 1px solid #a1a0a0;
                // opacity: 0; 
                transform: translateX(100%);
                animation: slideInRight 0.5s ease forwards;

                &.slide-in {
                    animation: slideInRight 0.5s ease forwards;
                }

                &.shrink {
                    top: -22px;
                    zoom: 0.9;
                    background: #a4efea;
                    margin-top: -15px;
                    animation: shrink 0.3s ease forwards;
                }

                .help-card-header {
                    padding: 20px;

                    h4 {
                        font-family: "Poppins";
                        font-size: 40px;
                        font-weight: 500;
                        font-style: normal;
                        color: #ffffff;
                    }
                }

                .help-card-body {
                    p {
                        padding: 0px 2rem;
                        border-radius: 24px;

                        font-family: "Poppins";
                        font-size: 24px;
                        font-weight: normal;
                        font-style: normal;
                        text-align: center;
                        color: #fafafa;
                    }

                    .help-card-image {
                        margin-top: 15px;
                        width: 100%;
                        height: 260px;
                        border-radius: 0px 0px 24px 24px;
                    }
                }
            }
        }
    }
}